<p class="h1 text-center">你想對誰說幹話</p>

<form method="POST" action="/">
  <div class="container">
    <div class="row">
      <div id="enginer" class="col-md-4 text-center">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
          class="img-thumbnail img-fluid" width="300px" height="200px">
        <div class="form-check">
          <div class="container justify-content-center align-items-center">
            <input class="form-check-input" type="radio" name="enginer" id="enginer">
            <label class="form-check-label" for="exampleRadios1">
              工程師
            </label>
          </div>
        </div>
      </div>
      <div id="designer" class="col-md-4 text-center">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
          class="img-thumbnail img-fluid" width="300px" height="200px">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="designer" id="designer">
          <label class="form-check-label" for="exampleRadios2">
            設計師
          </label>
        </div>
      </div>
      <div id="founder" class="col-md-4 text-center">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
          class="img-thumbnail img-fluid" width="300px" height="200px">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="founder" id="founder">
          <label class="form-check-label" for="exampleRadios3">
            創業家
          </label>
        </div>
      </div>
      <div class="container col-md-2">
        <button type="submit" class="btn btn-info">產生幹話</button>
      </div>
      <div class="container col-md-8">
        <textarea class="form-control">{{Word}}</textarea>
      </div>
    </div>

  </div>

  </div>
</form>
</div>